html{
    background-color: darkslategrey;
}

body {
    background-color: floralwhite;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 50px;
    padding: 30px;
}

nav{
    font-size: 1.2em;
}

h1{
    font-size: 3em;
    margin: auto;
}

h3{
    font-size: 2.2em;
}


p{
    line-height: 1.3em;
}

article{
    border-bottom: 1px dotted darkslategray ;
}

#blog{
    border-top:1px dotted darkslategrey;
}

.service{
    font-size: 1.2em;
}

time{
    font-weight: 700;
}

table{
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid darkslategray;
}

#dumpster{
    height: 25%;
    width: 25%;
}

#disney{
    height: 50%;
    width: 50%;
}
